header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    background-color: gray;
}

html{
    scroll-behavior: smooth;
}

.banner{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    color: black;
}

nav{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link{
    color: white;
    background-color: rgb(64, 56, 83);
    padding: 10px 30px;
    font-size: 20px;
}


.popular_items{
    text-align: center;
    margin-bottom: 50px;
}

.popular_items_div {
    background-color:#D9D9D9;
    justify-content: space-around;
    padding-right: 20px;
    display: flex; 
    align-items: center;
    
}
.items {
    background-color: #D9D9D9;
    padding: 50px;
}
.pro_nac {
    text-align: center;
}

.Information{
    width: 30%;
}

.contacts{
}
.contacts_logo {
    justify-content: space-between;
    display: flex;
    
}

nav a{
    text-decoration: none;
}


.koshik {
 background-color: black;
 padding: 10px 30px;

}

.nazva {
    font-size: 72px;
    
}

.h5_kypyi {
    font-size: 30px;
}

.more{
    background-color: gray;
    padding: 10px 30px;
    color: white;
    border: none;
    margin-top: 30px;
    font-size: 24px;
    transition: 0.3s;
}


.popular_item1{
background-color: white;
padding: 20px;
border-radius: 20px;
box-shadow: 5px 5px 20px 0 black;
transition: 0.3s;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.popular_item1:hover{
    transform: scale(1.1);
}

.price {
display: flex;
align-items: center;
gap: 30px;

}

.price button{
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 5px 15px;
}


.price p{
    margin-bottom: 0;
}

.more:hover{
    transform: scale(1.1);
    border-radius: 50px;
}

.about{
    padding: 50px;
}

.about_text{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.about_text img{
    width: 20%;
}
